/*********************************
MAIN BODY
*********************************/


body {
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background: orange;
	text-align: center;
}

#warningNote {
	font-size: 200%;
	
}

#hat {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
}

#congrats {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	top: 10px;
	color: #000000;
	font-size: 600%;
	font-family: 'Luckiest Guy', cursive;
}

#subCongrats {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	top: 700px;
	color: #000000;
	font-size: 300%;
	font-family: 'Luckiest Guy', cursive;
}

#Thomas {
	position: absolute;
	z-index: 1;
	top: 110vh;
	left: 50%;
	transform: translate(-50%, 0);
}

#shineOn {
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
}

#confetti {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

button {
	background: #ff8000;
  	border: none;
  	border-radius: 10px;
  	color: #000;
	font-family: 'Luckiest Guy', cursive;
  	font-size: 35px;
  	width: 440px;
  	padding: 40px 0;
  	margin: 200px 10px auto 10px;
  	outline: none;
  	cursor: pointer;	
	box-shadow: 5px 5px 10px 5px #4A4A4A;
}

button:hover {
	background: #cc6600;
}

@media (max-width: 1024px) { 
	#congrats {
		font-size: 10vw;
	}

	#subCongrats {
		top: 575px;
		font-size: 7vw;
	}
	
	button {
		width: 80vw;
	}
}

@media (max-width: 768px) { 
	#hat {
		width: 70%;
	}
	#Thomas {
		width: 40%;
	}
}

@media (max-width: 414px) { 
	#hat {
		width: 100%;
	}
	#Thomas {
		width: 60%;
	}
}